@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
    --color1: #fbd680;
    --color2: #fcfdbf;
    --color3: #d5e0a1;
    --font1: 'Bangers', 'sans serif';
  }

/*CSS Reset*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* Styles for Headings and Paragraphs*/

h1{
    font-family: var(--font1);
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
}

h2{
    font-family: var(--font1);
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}

h3{
    font-family: var(--font1);
    font-size: 1.75rem;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

/*Styles for Header*/

header{
    width: 100vw;
    height: 5vh;
    background-color: var(--color1);
}

/*Styles for Main*/

main {
    width: 100vw;
    height: 85vh;
    background-color: var(--color2);
}

/*Styles for Footer*/

footer {
    width: 100vw;
    height: 10vh;
    background-color: var(--color3);
}