body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 10vh;
    border: solid 1px #000;
}

main {
    width: 100%;
    height: 80vh;
    border: solid 1px #00ff00;
}

footer {
    width: 100%;
    height: 10vh;
    border: solid 1px #2b00ff;
}