@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300&display=swap');

:root {
    --color1: #fbd680;
    --color2: #fcfdbf;
    --color3: #d5e0a1;
    --font1: 'Bangers', 'sans serif';
    --font2: 'Roboto', 'sans serif';
  }

/*CSS Reset*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* Styles for Headings and Paragraphs*/

h1{
    font-family: var(--font1);
    font-size: 3rem;
    text-align: center;
    padding-top: 1.5rem;
    text-shadow: 2px 2px#fff;
}

h2{
    font-family: var(--font1);
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.5rem;
    text-shadow: 2px 2px#fff;
}

h3{
    font-family: var(--font1);
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
}

/*Styles for Header*/

header{
    width: 100vw;
    height: 5vh;
    background-color: var(--color1);
}

/*Styles for Main*/

main {
    width: 100vw;
    height: 85vh;
    background-color: var(--color2);
    border-top: solid 2px #fff;
}

.main-heading {
    display: flex;
}

.h1-h2-container {
    display: flex;
    flex-direction: column;
  
}

@media (max-width: 900px) {
    .main-heading {
        flex-direction: column;
    }
}

figure {
    width: 25em;
    height: 20em;
}

img {
    width: 100%;
    height: 100%;
}

/*Styles for Footer*/

footer {
    width: 100vw;
    height: 10vh;
    background-color: var(--color3);
    border-top: solid 2px #fff;
}